<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item">
                <a *ngIf="!loginService1.isUserLoggedIn()" routerLink="/login" class="btn btn-info">Login</a>
              </li>
              <li class="list-inline-item">
                <a *ngIf="!loginService1.isUserLoggedIn()" routerLink="/register" class="btn btn-info">Register</a>
              </li>
              <li class="list-inline-item">
                <a *ngIf="loginService1.isUserLoggedIn()" routerLink="/logout" class="btn btn-info">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>