<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col">City Name</th>
                    <th scope="col">Weather Description</th>
                    <th scope="col">CurrentTemp</th>
                    <th scope="col">MinTemp</th>
                    <th scope="col">MaxTemp</th>
                    <th scope="col">Sunrise</th>
                    <th scope="col">Sunset</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let weather of weathers">
                    <!-- <td>{{ weather.id }}</td> -->
                    <td>{{ weather.cityName }}</td>
                    <td>{{ weather.weatherDescription }}</td>
                    <td>{{ weather.currentTemp }}</td>
                    <td>{{ weather.minTemp }}</td>
                    <td>{{ weather.maxTemp }}</td>
                    <td>{{ weather.sunrise*1000 | date:'short' }}</td>   
                    <td>{{ weather.sunset*1000 | date:'short' }}</td>
                    <!-- <td><a href="#" routerLink="/update">Update</a></td> -->
                    <td><button (click)="updateRow(weather)">Update</button></td>
                    <!-- <td><input type="checkbox" id="deleteCheckBox"></td> -->
                    <td><button (click)="deleteRow(weather)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>