<!--
<div>Search for a city : <input type="text" name="cityName" [(ngModel)]="cityName"></div>
<button (click)="callWeatherService()">Search</button>

 <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a> -->

<div class="mb-3 row">
    <ng-container [formGroup]="searchForm">
    <div class="col-md-3"></div>
    <label for="cityName" class="col-sm-2 col-form-label">Search for a city : </label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="cityName" name="cityName" formControlName="cityField">
        <div *ngIf="f.cityField.invalid && (f.cityField.dirty || f.cityField.touched)" class="alert alert-danger">

            <div *ngIf="f.cityField.errors?.required">
                City is required.
            </div>
            <div *ngIf="f.cityField.errors?.minlength">
                City must be at least 3 characters long.
            </div>
            <div *ngIf="f.cityField.errors?.pattern">
                City must contain only alphabets without spaces.
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <button (click)="callWeatherService()">Search</button>
    </div>
    <div class="col-md-3"></div>
    </ng-container>
</div>
<div class="text-center">
    <div [hidden]="!invalidResp" class="alert alert-danger text-center" style="font-size: 16px">
        There is no city matching this name. <button (click)="resetResp()">Ok</button>
    </div>
    
</div>