<ng-container [formGroup]="updateForm">
    <!-- {{updateForm.value | json}} -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-4">
            <label for="cityName"> City </label>
            <input type="text" formControlName="cityName" class="form-control" id="cityName" required />
            <div *ngIf="f.cityName.invalid && (f.cityName.dirty || f.cityName.touched)" class="alert alert-danger">

                <div *ngIf="f.cityName.errors?.required">
                    cityName is required.
                </div>
                <div *ngIf="f.cityName.errors?.minlength">
                    cityName must be at least 3 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="weatherDescription"> Weather Description </label>
            <input type="text" formControlName="weatherDescription" class="form-control" id="weatherDescription"
                required>
            <div *ngIf="f.weatherDescription.invalid && (f.weatherDescription.dirty || f.weatherDescription.touched)"
                class="alert alert-danger">

                <div *ngIf="f.weatherDescription.errors?.required">
                    weatherDescription is required.
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-4">
            <label for="currentTemp">
                Current Temperature
            </label>
            <input type="text" formControlName="currentTemp" class="form-control" id="currentTemp" required />
            <div *ngIf="f.currentTemp.invalid && (f.currentTemp.dirty || f.currentTemp.touched)"
                class="alert alert-danger">

                <div *ngIf="f.currentTemp.errors?.required">
                    currentTemp is required.
                </div>
                <div *ngIf="f.currentTemp.errors?.minlength">
                    currentTemp must be at least 3 characters long.
                </div>
                <div *ngIf="f.currentTemp.errors?.pattern">
                    currentTemp must be in Celsius format with 2 decimal places max
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-4">
            <label for="minTemp">
                Minimum Temperature
            </label>
            <input type="text" formControlName="minTemp" class="form-control" id="minTemp" required>
            <div *ngIf="f.minTemp.invalid && (f.minTemp.dirty || f.minTemp.touched)" class="alert alert-danger">

                <div *ngIf="f.minTemp.errors?.required">
                    minTemp is required.
                </div>
                <div *ngIf="f.minTemp.errors?.minlength">
                    minTemp must be at least 6 characters long.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="maxTemp">
                Maximum Temperature
            </label>
            <input type="text" formControlName="maxTemp" class="form-control" id="maxTemp" required />
            <div *ngIf="f.maxTemp.invalid && (f.maxTemp.dirty || f.maxTemp.touched)" class="alert alert-danger">

                <div *ngIf="f.maxTemp.errors?.required">
                    maxTemp is required.
                </div>
                <div *ngIf="f.maxTemp.errors?.minlength">
                    maxTemp must be at least 3 characters long.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-4">
            <label for="sunrise">
                Sunrise
            </label>
            <input type="text" formControlName="sunrise" class="form-control" id="sunrise" required>
            <div *ngIf="f.sunrise.invalid && (f.sunrise.dirty || f.sunrise.touched)" class="alert alert-danger">

                <div *ngIf="f.sunrise.errors?.required">
                    sunrise is required.
                </div>
                <div *ngIf="f.sunrise.hasError('validateDate')">
                    sunrise must be in correct format 'YYYY-MM-DDThh:mm:ssZ'
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="sunset">
                Sunset
            </label>
            <input type="text" formControlName="sunset" class="form-control" id="sunset" required>
            <div *ngIf="f.sunset.invalid && (f.sunset.dirty || f.sunset.touched)" class="alert alert-danger">

                <div *ngIf="f.sunset.errors?.required">
                    sunset is required.
                </div>
                <div *ngIf="f.sunset.errors?.pattern">
                    sunset must be in correct format
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="text-center">
            <button type="submit" (click)="onUpdate()" [disabled]="updateForm.invalid"
                class="btn btn-primary">Update</button>
        </div>
    </div>
</ng-container>