<div class="container">

    <ng-container [formGroup]="loginSection">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mb-3">
                    <div>
                        <label class="form-label"  for="username">
                            Username:
                        </label>

                        <input type="text" formControlName="username" class="form-control" id="username"
                        [placeholder]="var1" required />
                        <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)"
                            class="alert alert-danger">

                            <div *ngIf="f.username.errors?.required">
                                username is required.
                            </div>
                            <div *ngIf="f.username.errors?.minlength">
                                username must be at least 3 characters long.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <label class="form-label" for="password">
                            Password:
                        </label>

                        <input type="text" formControlName="password" class="form-control" id="password" [placeholder]="var2" required>
                        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
                            class="alert alert-danger">

                            <div *ngIf="f.password.errors?.required">
                                password is required.
                            </div>
                            <div *ngIf="f.password.errors?.minlength">
                                password must be at least 6 characters long.
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div>
                    <div class="text-center">
                        <button type="submit" (click)="checkLogin()" [disabled]="loginSection.invalid"
                            class="btn btn-primary">Login</button>
                    </div>
                </div>
                <br>
                <div>
                    <div class="text-center">
                        <div [hidden]="!invalidLogin" class="alert alert-danger text-center" style="font-size: 16px">
                            There is no user or password matching this data.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </ng-container>

</div>