<div class="container">
    <div class=" card my-5 card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <!-- Username -->
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="username">Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" [(ngModel)]="user.username" class="form-control" id="username" name="username"
                        placeholder="Enter your user name" required #username="ngModel">
                    
                    <div *ngIf="username.invalid && (username.dirty || username.touched)"
                            class="alert alert-danger">

                            <div *ngIf="username.errors?.required">
                                username is required.
                            </div>
                            <div *ngIf="username.errors?.minlength">
                                username must be at least 3 characters long.
                            </div>
                        </div>
                </div>

            </div>

            <!-- Password -->
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <input type="text" [(ngModel)]="user.password" class="form-control" id="password" name="password"
                        placeholder="Enter the password" required #password="ngModel">
                    
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="alert alert-danger">

                            <div *ngIf="password.errors?.required">
                                password is required.
                            </div>
                            <div *ngIf="password.errors?.minlength">
                                password must be at least 3 characters long.
                            </div>
                        </div>
                </div>

            </div>

            <!-- Date Of Birth -->
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="dateOfBirth">Date Of Birth</label>
                </div>
                <div class="col-md-6">
                    <input type="text" [(ngModel)]="user.dateOfBirth" class="form-control" id="dateOfBirth"
                        name="dateOfBirth" placeholder="Enter the Date Of Birth in MM-DD-YYYY format" 
                        pattern="^(?:(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)[0-9]{2})$" required #dateOfBirth="ngModel" />

                    <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)"
                            class="alert alert-danger">

                            <div *ngIf="dateOfBirth.errors?.required">
                                dateOfBirth is required.
                            </div>
                            <div *ngIf="dateOfBirth.errors?.minlength">
                                dateOfBirth must be at least 3 characters long.
                            </div>
                            <div *ngIf="dateOfBirth.errors?.pattern">
                                dateOfBirth must be in the pattern MM-DD-YYYY
                            </div>
                        </div>
                </div>
            </div>
            <div class="text-center">
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
            </div>
            <br>
                <div>
                    <div class="text-center">
                        <div [hidden]="!invalidEntry" class="alert alert-danger text-center" style="font-size: 16px">
                            User could not be saved ( Possibly because user is already present or Username already exists)
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>